*{
    font-family: sans-serif;

}

h1{
    color: #f22;
    font-size: 44px;
}

label{
    font-size: 24px;
}

#tamanho, #quant{
    padding-left: 50px;
    padding-top: 5px;
    text-align: left;
}

#main, #check{
    padding-bottom: 15px;    
}

button{
    padding: 10px;
    margin-left: 10px;
    border: 1px solid #333;
    border-radius: 3em;
}

button:hover{
    background-color: #c8c8c8;
}

#resultado{
    padding: 10px;
}

textarea{
    resize: none;
    width: 350px;
}